@font-face {
    font-family: 'Departure';
    src: url('/fonts/DepartureMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martian';
    src: url('/fonts/MartianMono-CnRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


#habit-detail-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top: 1px solid var(--border);
    padding: 12px;
    
    @media (max-width: 768px) {
        width: 100%;
        padding: 0;
        min-height:30dvh ;
    }
}


.habit-title {
    text-decoration: underline;
}

.habit-timer-detail {
    font-size: 1.2em;
    margin: 30px;
    font-family: 'Martian';
    font-weight: 600;
    display: inline-flex;
    border-radius: 4px;
    color: var(--text-h);
    line-height: 135%;
    padding: 4px 8px;
    background: var(--code-bg);
    border: 1px solid #252525;
}